## testing

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, precision_score, recall_score, roc_curve, roc_auc_score, confusion_matrix, ConfusionMatrixDisplay, balanced_accuracy_score

In [4]:
def read_a(number):
    return pd.read_csv(f'./data/train/problem-A/0{number}.a.csv')

df_a_01 = read_a(1)
df_a_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CLUSTER   351 non-null    int64
 1   CPU_FREQ  351 non-null    int64
 2   DDR_FREQ  351 non-null    int64
 3   IPS       351 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 11.1 KB

In [8]:
df_a_all =  read_a(1)
for i in range(2, 9):
    df_a_i = read_a(i)
    df_a_all = pd.concat([df_a_all, df_a_i])

print(df_a_all.info())
df_a_all.head()

<class 'pandas.core.frame.DataFrame'>
Index: 2808 entries, 0 to 350
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CLUSTER   2808 non-null   int64
 1   CPU_FREQ  2808 non-null   int64
 2   DDR_FREQ  2808 non-null   int64
 3   IPS       2808 non-null   float64
dtypes: float64(1), int64(3)
memory usage: 109.7 KB
None

   CLUSTER  CPU_FREQ    DDR_FREQ          IPS
0        0    884000   418000000   98087.9537
1        0    884000   902000000  116147.9192
2        0    884000  1104000000  124785.8997
3        0    884000  1373000000  136203.6734
4        0    884000  1531000000  143761.2787

In [12]:
def read_test(number):
    return pd.read_csv(f'./data/test/problem-A/A{number}.csv')

df_test_A1 = read_test(1)
print(df_test_A1.info())
df_test_A1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CLUSTER           351 non-null    int64
 1   CPU_FREQ          351 non-null    int64
 2   DDR_FREQ          351 non-null    int64
 3   INST_RETIRED      351 non-null    float64
 4   CPU_CYCLES        351 non-null    float64
 5   STALL_BACKEND     351 non-null    float64
 6   STALL_FRONTEND    351 non-null    float64
 7   L3D_CACHE_REFILL  351 non-null    float64
 8   L3D_CACHE         351 non-null    float64
 9   MEM_ACCESS        351 non-null    float64
dtypes: float64(7), int64(3)
memory usage: 27.5 KB
None

,CLUSTER,CPU_FREQ,DDR_FREQ,INST_RETIRED,CPU_CYCLES,STALL_BACKEND,STALL_FRONTEND,L3D_CACHE_REFILL,L3D_CACHE,MEM_ACCESS
0,0,884000,418000000,2258540.0,17132100.0,2949110.0,12603000.0,110312.0,427077.0,965644.0
1,0,884000,902000000,2684360.0,17167700.0,3196800.0,12112700.0,133052.0,508819.0,1147760.0
2,0,884000,1104000000,2815940.0,17152900.0,3324030.0,11879300.0,139463.0,535400.0,1203960.0
3,0,884000,1373000000,3001120.0,17167600.0,3472700.0,11620500.0,148087.0,563995.0,1283200.0
4,0,884000,1531000000,3173550.0,17184400.0,3527140.0,11467100.0,156497.0,596152.0,1356930.0

In [34]:
def find(CLUSTER, CPU_FREQ, DDR_FREQ):
    row = df_a_all.loc[
        (df_a_all['CLUSTER'] == CLUSTER) 
        & (df_a_all['CPU_FREQ'] == CPU_FREQ) 
        & (df_a_all['DDR_FREQ'] == DDR_FREQ)]
    sum = 0
    cnt = 0
    for i in row['IPS']:
        sum+=i
        cnt+=1
    return sum / cnt

print(find(0, 884000, 418000000))
out_A1 = df_test_A1
A1_ips = []
for index, row in df_test_A1.iterrows():
    CLUSTER = row['CLUSTER']
    CPU_FREQ = row['CPU_FREQ']
    DDR_FREQ = row['DDR_FREQ']
    A1_ips.append(find(CLUSTER, CPU_FREQ, DDR_FREQ))

out_A1['IPS'] = A1_ips

cols_send = [
    'CLUSTER',
    'CPU_FREQ',
    'DDR_FREQ',
    'IPS'
]

df_send_A1 = out_A1[cols_send]


print(df_send_A1.info())
df_send_A1.head()

df_send_A1.to_csv('./A1_simple1.csv',index=False)

750944.9227625
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CLUSTER   351 non-null    int64
 1   CPU_FREQ  351 non-null    int64
 2   DDR_FREQ  351 non-null    int64
 3   IPS       351 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 11.1 KB
None